<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:description" content="A podcast exploring different facets of the Asian American experience.">
    <meta property="og:title" content="sweet and sour">
    <meta property="og:url" content="http://sweetandsour.fm">
    <link rel="shortcut icon" href="/images/favicon.ico">
    
    <title>sweet and sour</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <!--temp--><link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'vendor/instafeed.min' %>
    <%= stylesheet_link_tag "normalize", "index" %>
  </head>
  
  <body>
    <%= partial "partials/header" %>
    <%= yield %>
  </body>
  <%= partial "partials/footer" %>
</html>