---
layout: episode
title: episodes | sweet and sour
theme: 'pink'
---
<% data.episodes.episodes.to_a.each_with_index do |episode, episode_index| %>
<% if episode_index === 12 %>
<!-- temp above -->
<div class="container episode-container">
  <div class="episode__metadata">
    <div class="tagline">
      <div class="section-episode">
        <div class="section-episode__description">
          <p class="section-episode__number"><%= episode.number %></p>
          <h3><%= episode.name %></h3>
          <p><%= episode.description %></p>
        </div>
      </div>  
    </div>
    <div class="section-episode__image">
      <img src="<%= episode.image %>" />
    </div>
  </div>
  <div class="episode__info">
    <div class="episode__highlights">
      <h3>Highlights</h3>
      <%= episode.highlights %>
    </div>
    <% if episode.notes %>
      <div class="edge--top--reverse">
        <div class="episode__show-notes">
          <h3>Show notes</h3>
          <%= episode.notes %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if episode.guest.present? %>
  <%= partial "partials/newsletter" %>
  <div class="container episode-container">
    <div class="episode__info">
      <div class="episode__highlights">
        <h3>About <%= episode.guest %></h3>
        <%= episode.guest_bio %>
      </div>
      <% if episode.qa %>
        <div class="edge--top--reverse">
          <div class="episode__show-notes">
            <h3>S&S Asks...</h3>
            <p><strong>Are you Sweet or Sour?</strong> <%= episode.qa.personality %></p>
            <p><strong>Favorite snack?</strong> <%= episode.qa.snack %></p>
            <p><strong>Role model?</strong> <%= episode.qa.role_model%></p>
            <p><strong>Book rec?</strong> <%= episode.qa.book_rec %></p>
            <p><strong>Best in-between food?</strong> <%= episode.qa.food %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<!-- temp below -->
<% end %>
<% end %>