---
layout: layout
title: NBN Year in Media 2015
---
<div class="container">
	<div class="intro">
	    <a href="http://www.northbynorthwestern.com/" target="_blank"><p>North by Northwestern</p></a>
	    <a href="http://apps.northbynorthwestern.com/year-in-media/2015/" target="_blank"><span>Year in Media 2015</span></a>
	</div>

	<% if false %>
		<% data.entry.results.each do |e| %>
			<% story_link = "#{e.slug}/" %>
			<a href= <%= story_link %> >
			<div class="grid-entry grid-col-3 color1">
				<div class="entry-content">
					<p class="entry-section"><%= e.topic %></p>
					<p class="entry-subject"><%= e.subject %></p>
					<p class="entry-author"><%= e.author %></p>
				</div>
			</div>
			</a>
	    <% end %>
	<% end %>

	<% relative_path = "story/" %>

    <% story_link = "#{data.entry.results[0].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color1">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[0].topic %></p>
			<p class="entry-subject"><%= data.entry.results[0].subject %></p>
			<p class="entry-author"><%= data.entry.results[0].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[1].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color2">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[1].topic %></p>
			<p class="entry-subject"><%= data.entry.results[1].subject %></p>
			<p class="entry-author"><%= data.entry.results[1].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[2].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color3">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[2].topic %></p>
			<p class="entry-subject"><%= data.entry.results[2].subject %></p>
			<p class="entry-author"><%= data.entry.results[2].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[3].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-span-2 color4">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[3].topic %></p>
			<p class="entry-subject"><%= data.entry.results[3].subject %></p>
			<p class="entry-author"><%= data.entry.results[3].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[4].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color5">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[4].topic %></p>
			<p class="entry-subject"><%= data.entry.results[4].subject %></p>
			<p class="entry-author"><%= data.entry.results[4].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[5].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color8">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[5].topic %></p>
			<p class="entry-subject"><%= data.entry.results[5].subject %></p>
			<p class="entry-author"><%= data.entry.results[5].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[6].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color9">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[6].topic %></p>
			<p class="entry-subject"><%= data.entry.results[6].subject %></p>
			<p class="entry-author"><%= data.entry.results[6].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[7].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color10">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[7].topic %></p>
			<p class="entry-subject"><%= data.entry.results[7].subject %></p>
			<p class="entry-author"><%= data.entry.results[7].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[8].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color6">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[8].topic %></p>
			<p class="entry-subject"><%= data.entry.results[8].subject %></p>
			<p class="entry-author"><%= data.entry.results[8].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[9].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-span-2 color7">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[9].topic %></p>
			<p class="entry-subject"><%= data.entry.results[9].subject %></p>
			<p class="entry-author"><%= data.entry.results[9].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[10].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color4">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[10].topic %></p>
			<p class="entry-subject"><%= data.entry.results[10].subject %></p>
			<p class="entry-author"><%= data.entry.results[10].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[11].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color1">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[11].topic %></p>
			<p class="entry-subject"><%= data.entry.results[11].subject %></p>
			<p class="entry-author"><%= data.entry.results[11].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[12].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color10">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[12].topic %></p>
			<p class="entry-subject"><%= data.entry.results[12].subject %></p>
			<p class="entry-author"><%= data.entry.results[12].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[13].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-span-2 color2">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[13].topic %></p>
			<p class="entry-subject"><%= data.entry.results[13].subject %></p>
			<p class="entry-author"><%= data.entry.results[13].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[14].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color5">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[14].topic %></p>
			<p class="entry-subject"><%= data.entry.results[14].subject %></p>
			<p class="entry-author"><%= data.entry.results[14].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[15].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color3">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[15].topic %></p>
			<p class="entry-subject"><%= data.entry.results[15].subject %></p>
			<p class="entry-author"><%= data.entry.results[15].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[16].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color6">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[16].topic %></p>
			<p class="entry-subject"><%= data.entry.results[16].subject %></p>
			<p class="entry-author"><%= data.entry.results[16].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[17].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color8">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[17].topic %></p>
			<p class="entry-subject"><%= data.entry.results[17].subject %></p>
			<p class="entry-author"><%= data.entry.results[17].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[18].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color10">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[18].topic %></p>
			<p class="entry-subject"><%= data.entry.results[18].subject %></p>
			<p class="entry-author"><%= data.entry.results[18].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[19].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color8">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[19].topic %></p>
			<p class="entry-subject"><%= data.entry.results[19].subject %></p>
			<p class="entry-author"><%= data.entry.results[19].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[20].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color7">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[20].topic %></p>
			<p class="entry-subject"><%= data.entry.results[20].subject %></p>
			<p class="entry-author"><%= data.entry.results[20].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[21].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-col-3 color9">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[21].topic %></p>
			<p class="entry-subject"><%= data.entry.results[21].subject %></p>
			<p class="entry-author"><%= data.entry.results[21].author %></p>
		</div>
	</div>
	</a>

	<% story_link = "#{data.entry.results[22].slug}/" %>
	<a href= <%= relative_path %><%= story_link %> >
	<div class="grid-entry grid-span-2 color10">
		<div class="entry-content">
			<p class="entry-section"><%= data.entry.results[22].topic %></p>
			<p class="entry-subject"><%= data.entry.results[22].subject %></p>
			<p class="entry-author"><%= data.entry.results[22].author %></p>
		</div>
	</div>
	</a>

	<div class="footer">
		<p>Design and Development by Nicole Zhu / <a href="http://www.northbynorthwestern.com/" target="_blank">North by Northwestern</a></p>
	</div>
</div>