---
layout: story
---

<div class="intro">
    <a href="http://www.northbynorthwestern.com/" target="_blank"><p>North by Northwestern</p></a>
    <a href="http://apps.northbynorthwestern.com/year-in-media/2015/" target="_blank"><span>Year in Media 2015</span></a>
</div>

<div class="container">
    <% if false %>
        <% data.entry.results.each do |e| %>
    		<div class="submission">
    			<%= e.objectId %>
    		</div>
    	<% end %>
    <% end %>

    <div class="entry">
        <div class="entry-details">
            <h2><%= entry_name %></h2>
            <h3>by <%= entry_author %></h3>
            <div class="entry-image-wrapper">
                <div class="entry-image">
                    <%= entry_media %>
                </div>
            </div>
            <div class="pullquote">
                <p><%= entry_pullquote %></p>
            </div>

            <div class="share-icons">
                <ul class="social">
                    <a href="http://twitter.com/home?status=North by Northwestern&#8217;s Year in Media 2015 http://apps.northbynorthwestern.com/year-in-media/2015 via @nbn_tweets" target="_blank">
                        <li class="twitter-share"><span class="icon-twitter"></span></li>
                    </a>
                    <a href="http://www.facebook.com/sharer.php?u=http://apps.northbynorthwestern.com/year-in-media/2015" target="_blank">
                        <li class="facebook-share"><span class="icon-facebook"></span></li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="entry-body">
            <%= entry_body %>
        </div>

        <div class="grid-entry grid-col-3 color8">
            <div class="entry-content">
                <p class="entry-section">TV</p>
                <p class="entry-subject">Jessica Jones</p>
                <p class="entry-author">Nicole Zhu</p>
            </div>
        </div>

        <div class="grid-entry grid-col-3 color10">
            <div class="entry-content">
                <p class="entry-section">Politics</p>
                <p class="entry-subject">Marijuana Legalization</p>
                <p class="entry-author">Sylvan Lane</p>
            </div>
        </div>

        <div class="grid-entry grid-col-3 color3">
            <div class="entry-content">
                <p class="entry-section">News</p>
                <p class="entry-subject">Occupy Central</p>
                <p class="entry-author">Anne Li</p>
            </div>
        </div>

        <div class="grid-entry grid-col-1 color4">
            <div class="all-entries">
                <p><a href="/">See all stories</a></p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p>Design and Development by Nicole Zhu / <a href="http://www.northbynorthwestern.com/" target="_blank">North by Northwestern</a></p>
</div>